Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-db, build-backend, build-frontend, build-broadcasting-service, build-file-service

build-db:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-db
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-db

build-backend:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-backend
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-backend:dev

build-frontend:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-frontend
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-frontend:dev

build-broadcasting-service:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-broadcasting-service
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-broadcasting-service:dev

build-file-service:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-file-service
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-file-service

Implement Verona6 model of validPages
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/verona.interfaces.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

Remove console.log
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

Implement Verona6 pageModel in unithost of syscheck
  frontend/src/app/sys-check/unit-check/unit-check.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
Due: build-frontend

Implement Verona6 `vopRuntimeErrorNotification`
  frontend/src/app/app.interfaces.ts
  frontend/src/app/sys-check/unit-check/unit-check.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/verona.interfaces.ts
  sampledata/SAMPLE_UNITCONTENTS.HTM
Due: build-frontend

Update e2e tests to work with Simple Player 6
  .idea/codeStyles/Project.xml
  e2e/cypress/e2e/Session-Management/hot-restart-mode.cy.ts
  e2e/cypress/e2e/Session-Management/hot-return-mode.cy.ts
  e2e/cypress/e2e/workspace-admin.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, build-file-service

Fix e2e tests
  e2e/cypress/e2e/Test-Controller/Demo.cy.ts
  e2e/cypress/e2e/Test-Controller/Review.cy.ts
  e2e/cypress/e2e/Test-Controller/RunHotRestart.cy.ts
  e2e/cypress/e2e/Test-Controller/RunHotReturn.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, build-file-service

Update to CyPress 13.11.0
  docker/e2e.Dockerfile
  e2e/package-lock.json
  e2e/package.json
Due: build-backend, build-frontend, build-broadcasting-service, build-file-service

Prev and Last as UnitNavigationTargets should aim to the first respectively last unit *available*, not existing.
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

Redesign navigation to work properly asynchronous and always release a UnitDataPartsBuffer and update the teststructure before evaluating a navigation attempt.
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

split e2e workspace tests into smaller tests in one folder
  e2e/cypress/e2e/Workspace-Admin/files.cy.ts
  e2e/cypress/e2e/Workspace-Admin/results.cy.ts
  e2e/cypress/e2e/Workspace-Admin/system-check.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, build-file-service

switch middleware order to minimize DB calls for token auth
  backend/routes.php
Due: build-db, build-backend

Make the unit tests compile
  frontend/src/app/group-monitor/booklet/booklet.service.spec.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.spec.ts
  frontend/src/app/group-monitor/test-session/test-session.util.spec.ts
  frontend/src/app/group-monitor/unit-test-example-data.spec.ts
  frontend/src/app/test-controller/classes/testlet.class.spec.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.spec.ts
  frontend/src/app/test-controller/services/test-controller.service.spec.ts
  frontend/src/app/test-controller/services/test-loader.service.spec.ts
  frontend/src/app/test-controller/test/mock-backend.service.ts
  frontend/src/app/test-controller/test/unit-test.util.ts
  frontend/src/app/test-controller/test/watcher.util.spec.ts
  frontend/src/app/test-controller/test/watcher.util.ts
  frontend/src/app/test-controller/unit-test-data/test-data-constructors.ts
Due: build-frontend

Implement a buffer for updates of TestState analogous to the Buffern of unitState and ResponseData
  frontend/src/app/shared/interfaces/booklet.interfaces.ts
  frontend/src/app/shared/services/booklet-parser.service.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/test-status/test-status.component.html
  frontend/src/app/test-controller/components/test-status/test-status.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/test/test-data.ts
  frontend/src/app/test-controller/util/test-data.util.spec.ts
  frontend/src/app/test-controller/util/test-data.util.ts
Due: build-frontend

fe: Add WakeLock for test controller
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: build-frontend

Make UnitState-Buffer react to closeBuffers$ as well
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/test-controller.service.spec.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  frontend/src/app/test-controller/util/test-data.util.spec.ts
  frontend/src/app/test-controller/util/test-data.util.ts
  frontend/src/app/test-controller/util/test-state.util.ts
Due: build-frontend

test stand -> cannot overwrite mock object
  backend/src/workspace/Workspace.class.php
Due: build-db, build-backend

Revert "test stand -> cannot overwrite mock object"
  backend/src/workspace/Workspace.class.php
Due: build-db, build-backend

changes to how files are imported in BE
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/FileType.enum.php
  backend/src/workspace/Workspace.class.php
  backend/src/workspace/WorkspaceCache.class.php
  backend/test/unit/workspace/WorkspaceTest.php
Due: build-db, build-backend

switch calculating filesize from BE to FE
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/files/XMLFileBooklet.class.php
  backend/src/files/XMLFileUnit.class.php
  frontend/src/app/workspace-admin/files/files.component.ts
  frontend/src/app/workspace-admin/workspace.interfaces.ts
Due: build-db, build-backend, build-frontend

change BE output to FE to prepare the calculation of filesize in FE
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/files/File.class.php
  frontend/src/app/workspace-admin/workspace.interfaces.ts
Due: build-db, build-backend, build-frontend

add target argument to make unit test command
  scripts/make/test.mk
Due: none

renaming variables
  backend/src/controller/WorkspaceController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/files/File.class.php
  backend/src/helper/Folder.class.php
  backend/src/workspace/UploadedFilesHandler.class.php
  backend/src/workspace/Workspace.class.php
  backend/src/workspace/WorkspaceCache.class.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/workspace/WorkspaceCacheTest.php
  backend/test/unit/workspace/WorkspaceTest.php
Due: build-db, build-backend

update unit tests
  backend/src/workspace/Workspace.class.php
  backend/test/unit/workspace/WorkspaceTest.php
Due: build-db, build-backend

Replace Enums in TestController with narrowed string types
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/test-status/test-status.component.html
  frontend/src/app/test-controller/components/test-status/test-status.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/routing/test-controller-deactivate.guard.ts
  frontend/src/app/test-controller/routing/test-controller-error-paused-activate.guard.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/command.service.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  frontend/src/app/test-controller/util/test-state.util.ts
Due: build-frontend

Linting
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/test-status/test-status.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/routing/test-controller-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

Update Cypress
  e2e/package-lock.json
  e2e/package.json
Due: build-backend, build-frontend, build-broadcasting-service, build-file-service

Fix e2e-tests in regard of simple player version
  .idea/dataSources.xml
  docker/docker-compose.dev.yml
  sampledata/system-test/CY_Unit100.xml
  sampledata/system-test/CY_Unit101.xml
  sampledata/system-test/CY_Unit102.xml
  sampledata/system-test/CY_Unit103.xml
  sampledata/system-test/CY_Unit104.xml
Due: none

Log tracks calls in TestMode
  backend/index.php
Due: build-db, build-backend

Fix redirect in app router to login page
  frontend/src/app/app-routing.module.ts
Due: build-frontend

Send Status TERMINATED before Buffer is closed to avoid problems when switching login fast
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/routing/test-controller-error-paused-activate.guard.ts
  frontend/src/app/test-controller/services/command.service.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

Linting and formal refactoring
  frontend/src/app/app-root/code-input/code-input.component.ts
  frontend/src/app/app-root/status-card/status-card.component.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.interfaces.ts
  frontend/src/app/error.interceptor.ts
  frontend/src/app/group-monitor/test-session/test-session.component.ts
  frontend/src/app/shared/pipes/block-condition.pipe.ts
  frontend/src/app/sys-check/sys-check.component.ts
  frontend/src/app/test-controller/classes/test-controller.classes.ts
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.spec.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/iqb.interfaces.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/interfaces/verona.interfaces.ts
  frontend/src/app/test-controller/routing/test-controller-deactivate.guard.ts
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/test-controller.service.spec.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/util/iqb-variable.util.ts
  frontend/src/app/test-controller/util/test-data.util.spec.ts
  frontend/src/app/workspace-admin/files/files.component.html
  frontend/src/app/workspace-admin/files/files.component.spec.ts
Due: build-frontend

Remove maxTimeLeave from Testlet object
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  frontend/src/app/test-controller/test/test-data.ts
Due: build-frontend

Refactor and simplify interfaces and functions
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/interfaces/verona.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.spec.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

Revert "Super hacky solution for navigation bug"
  docs/CHANGELOG.md
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

Delete unused file
  frontend/src/app/shared/pipes/block-condition.pipe.ts
  frontend/src/app/unit/block-condition.util.ts
Due: build-frontend

Remove debug stuff
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

Move unit-navi-bar into separate component
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.css
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.spec.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.html
  frontend/src/app/test-controller/components/unit-nav-bar/unit-nav-bar.component.css
  frontend/src/app/test-controller/components/unit-nav-bar/unit-nav-bar.component.html
  frontend/src/app/test-controller/components/unit-nav-bar/unit-nav-bar.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/pipes/properties.pipe.ts
  frontend/src/app/test-controller/pipes/scheme-as-text.pipe.ts
  frontend/src/app/test-controller/test-controller.module.ts
Due: build-frontend

Send correct unitDefinitionType to player.
  backend/src/controller/TestController.class.php
  backend/src/data-collection/FileRelation.class.php
  backend/src/files/XMLFileUnit.class.php
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  frontend/src/app/test-controller/test/test-data.ts
Due: build-db, build-backend, build-frontend

Send vopPlayerConfigChangedNotification when test structure changes
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

Refactor Buffer System in testcontroller
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unit-nav-bar/unit-nav-bar.component.html
  frontend/src/app/test-controller/components/unit-nav-bar/unit-nav-bar.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/iqb.interfaces.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/interfaces/verona.interfaces.ts
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.spec.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

Path conditions:
  build-db: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  build-file-service: (any of: scripts/file-service/**/*) or (any of: e2e/**/*)
