Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-db, build-backend, build-frontend, build-broadcasting-service, build-file-service

build-db:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-db
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-db

build-backend:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-backend
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-backend:dev

build-frontend:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-frontend
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-frontend:dev

build-broadcasting-service:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-broadcasting-service
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-broadcasting-service:dev

build-file-service:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-file-service
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-file-service

code reformat
  backend/src/controller/MonitorController.class.php
  backend/src/controller/SessionController.class.php
  backend/src/controller/WorkspaceController.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/helper/RequestBodyParser.class.php
  backend/src/helper/TestEnvironment.class.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  e2e/cypress/e2e/Test-Controller/Review.cy.ts
  frontend/src/app/test-controller/services/backend.service.ts
Due: build-db, build-backend, build-frontend, build-broadcasting-service, build-file-service

reformat code
  backend/src/controller/WorkspaceController.class.php
  backend/src/workspace/Report.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/workspace/ReportTest.php
Due: build-db, build-backend

add feature flag functionality in Report Class
  backend/src/controller/WorkspaceController.class.php
  backend/src/workspace/Report.php
Due: build-db, build-backend

refactor reportformat and reporttype as enum
  backend/src/controller/WorkspaceController.class.php
  backend/src/data-collection/ReportFormat.php
  backend/src/data-collection/ReportType.php
  backend/src/workspace/Report.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/data-collection/ReportFormatTest.php
  backend/test/unit/data-collection/ReportTypeTest.php
  backend/test/unit/workspace/ReportTest.php
Due: build-db, build-backend

introduce page and pageLabel in the frontend
  frontend/src/app/test-controller/components/review-dialog/review-dialog.component.html
  frontend/src/app/test-controller/components/review-dialog/review-dialog.component.spec.ts
  frontend/src/app/test-controller/components/review-dialog/review-dialog.component.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  scripts/database/patches.d/next.sql
Due: build-db, build-backend, build-frontend

add alias column to unit_review table & add originalUnitId in frontend requests
  backend/src/controller/TestController.class.php
  backend/src/dao/TestDAO.class.php
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/services/backend.service.ts
  scripts/database/patches.d/next.sql
Due: build-db, build-backend, build-frontend

fix logs (check on of report is given)
  backend/src/controller/WorkspaceController.class.php
Due: build-db, build-backend

update unit tests
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/workspace/ReportTest.php
Due: build-db, build-backend

Refactor [PUT] putUnitReview to accept page and pageLabel
  backend/src/controller/TestController.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/helper/RequestBodyParser.class.php
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/services/backend.service.ts
  scripts/database/patches.d/next.sql
Due: build-db, build-backend, build-frontend

fix unit tests to accomodate new report enum
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/testdata.sql
Due: build-db, build-backend

introduce unitfolder argument to test.mk
  scripts/make/test.mk
Due: none

add tests with feature flag enabled and disabled
  backend/test/unit/workspace/ReportTest.php
Due: build-db, build-backend

show deprecation warnings in phpUnit
  backend/phpunit.xml
Due: build-db, build-backend

add integration test for non existing reports
  backend/src/helper/TestEnvironment.class.php
  e2e/cypress/e2e/Test-Controller/Review.cy.ts
Due: build-db, build-backend, build-frontend, build-broadcasting-service, build-file-service

CHANGELOG.md
  backend/src/controller/SessionController.class.php
  backend/src/dao/InitDAO.class.php
  docs/CHANGELOG.md
  docs/api/test.spec.yml
Due: build-db, build-backend

detect the use of an external keyboard and downsize the textarea for comments according to window height
  frontend/src/app/test-controller/components/review-dialog/review-dialog.component.css
  frontend/src/app/test-controller/components/review-dialog/review-dialog.component.html
  frontend/src/app/test-controller/components/review-dialog/review-dialog.component.ts
Due: build-frontend

fix setTimeout Type
  frontend/src/app/study-monitor/components/study-monitor/study-monitor.component.ts
Due: build-frontend

unset autocapitalize for login and code fields
  frontend/src/app/app-root/code-input/code-input.component.html
  frontend/src/app/app-root/login/login.component.html
Due: build-frontend

Fix unit test
  frontend/src/app/study-monitor/components/study-monitor/study-monitor.component.ts
Due: build-frontend

revamp update script
  dist-src/update_new.sh
Due: none

switch dpkg for coreutils
  dist-src/install.sh
  dist-src/update.sh
Due: none

Assume 0 as default for scores which are not available (not NaN) and add attribute "or" to change this default.
  .idea/jsLibraryMappings.xml
  .idea/vcs.xml
  definitions/vo_Booklet.xsd
  docs/CHANGELOG.md
  frontend/src/app/shared/interfaces/booklet.interfaces.ts
  frontend/src/app/shared/services/booklet-parser.service.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-db, build-backend, build-frontend

Manually close data-buffer on navigationattempt **unfinished**
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  testcenter.iml
Due: build-frontend

refactor putUser to give the userId instead of the username as response
  backend/src/controller/UserController.class.php
  docs/api/user.spec.yml
Due: build-db, build-backend

Manually close data-buffer on navigationattempt **untestet**
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  testcenter.iml
Due: build-frontend

Evaluate Conditions before navigation **unsatisfying**
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  package-lock.json
Due: build-frontend

Super hacky solution for navigation bug
  docs/CHANGELOG.md
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

Update to version 15.2.0-alpha8
  dist-src/.env
  dist-src/install.sh
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Last stand
  backend/index.php
  backend/src/files/File.class.php
  backend/src/workspace/Workspace.class.php
Due: build-db, build-backend

Fix massive test data creation script
  backend/test/massive-test-data.php
Due: build-db, build-backend

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

remove deprecated file
  dist-src/patch.sh
Due: none

Update to version 15.1.8
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Make messages in initialize clearer
  backend/initialize.php
Due: build-db, build-backend

Refresh the workspace hash after file upload and deletion.
  backend/initialize.php
  backend/src/controller/WorkspaceController.class.php
  backend/src/workspace/Workspace.class.php
Due: build-db, build-backend

Fix backend unit tests
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/testdata.sql
  scripts/database/full.sql
Due: build-db, build-backend

Clean up workspace log even after timeout
  backend/index.php
  docs/CHANGELOG.md
Due: build-db, build-backend

First attempt to write tests for installer and updater
  docker/docker-compose.install-and-update-script.yml
  docker/installation-tester.Dockerfile
  scripts/make/test.mk
  test/install-and-update-script/lib/functions.sh
  test/install-and-update-script/lib/helper.sh
  test/install-and-update-script/lib/mock-docker.sh
  test/install-and-update-script/lib/mock-make.sh
  test/install-and-update-script/run.sh
  test/install-and-update-script/tests/current-installer.sh
  test/install-and-update-script/tests/install-15.0.0.sh
Due: none

Include simple player version 6
  backend/src/workspace/WorkspaceInitializer.class.php
  backend/test/initialization/expectations/sample_content_present
  backend/test/initialization/tests/14.0.0/file_deletion.sh
  backend/test/unit/files/FileTest.php
  backend/test/unit/helper/FolderTest.php
  backend/test/unit/testdata.sql
  backend/test/unit/workspace/WorkspaceCacheTest.php
  backend/test/unit/workspace/WorkspaceTest.php
  docker/docker-compose.dev.yml
  package.json
  sampledata/Unit.xml
  sampledata/Unit2.xml
  sampledata/system-test/CY_Unit100.xml
  sampledata/system-test/CY_Unit101.xml
  sampledata/system-test/CY_Unit102.xml
  sampledata/system-test/CY_Unit103.xml
  sampledata/system-test/CY_Unit104.xml
  sampledata/verona-player-simple-6.0.html
Due: build-db, build-backend

Path conditions:
  build-db: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  build-file-service: (any of: scripts/file-service/**/*) or (any of: e2e/**/*)
