Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-db, build-backend, build-frontend, build-broadcasting-service, build-file-service

Path conditions:
  build-db: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  build-file-service: (any of: scripts/file-service/**/*) or (any of: e2e/**/*)

Update to version 15.1.4
  backend/src/data-collection/GroupResultStats.class.php
  dist-src/.env
  dist-src/install.sh
  docker/tls.yml
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/bom.json
Due: build-db, build-backend

fe/remove pw.focus from login
  frontend/src/app/app-root/login/login.component.html
Due: build-frontend

docs: make authToken required
  docs/api/attachment.spec.yml
  docs/api/booklet.spec.yml
  docs/api/monitor.spec.yml
  docs/api/session.spec.yml
  docs/api/system.spec.yml
  docs/api/test.spec.yml
  docs/api/user.spec.yml
  docs/api/workspace.spec.yml
Due: none

fe: Improve group-monitor regarding conditionial testlets
  frontend/src/app/group-monitor/booklet/booklet.service.ts
  frontend/src/app/group-monitor/booklet/booklet.util.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/group-monitor.module.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/app/group-monitor/test-session/descendants.pipe.ts
  frontend/src/app/group-monitor/test-session/position.pipe.ts
  frontend/src/app/group-monitor/test-session/test-session.component.html
  frontend/src/app/group-monitor/test-session/test-session.util.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  testcenter.iml
Due: build-frontend

[fe] Fix page indices for different players
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
Due: build-frontend

env: add dockerhub proxy
  dist-src/.env
  docker/default.env
  docker/docker-compose.yml
  docs/CHANGELOG.md
Due: none

env:dockerhub proxy only for prod
  dist-src/docker-compose.prod.tls.yml
  dist-src/docker-compose.prod.yml
  docker/docker-compose.yml
Due: none

fe: Track the variables from which tracked derived variables are as well.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/interfaces/iqb.interfaces.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

fe: Improve debug pane
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: build-frontend

Update to version 15.2.0-alpha
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/database/patches.d/15.2.0-alpha.sql
Due: build-db, build-backend

Add missing points to CHANGELOG.md
  docs/CHANGELOG.md
Due: none

fe: Restore support older (pre Verona4) Players
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/verona.interfaces.ts
Due: build-frontend

de: include missing file
  frontend/src/app/test-controller/interfaces/iqb.interfaces.ts
Due: build-frontend

Fix sample booklet
  sampledata/Booklet2.xml
Due: none

env: add restart policy
  dist-src/.env
  docker/default.env
  docker/docker-compose.yml
  docs/CHANGELOG.md
Due: none

[fe] Fix page-nav-bar to allow freely indexed page
  docs/CHANGELOG.md
  frontend/src/app/shared/components/page-nav-bar/page-nav-bar.component.ts
  frontend/src/app/sys-check/unit-check/unit-check.component.html
  frontend/src/app/sys-check/unit-check/unit-check.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
Due: build-frontend

fe: first draft of a new unit-menu which visualizes the booklet directly and not e derived object
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.css
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.html
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/pipes/unit-accessible.pipe.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  frontend/src/app/test-controller/test-controller.module.ts
Due: build-frontend

be: increase memory and time limits to allow huge file uploads
  backend/config/local.php.ini
  backend/src/controller/WorkspaceController.class.php
Due: build-db, build-backend

fe: Enable HUGE file uploads by increasing all limits.
  backend/config/local.php.ini
  backend/src/controller/WorkspaceController.class.php
  docs/CHANGELOG.md
Due: build-db, build-backend

update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

fe: Don't ignore the NavigationLeaveRestriction on presentation when presentationProgress is not set at all.
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
Due: build-frontend

fe: Highlight current page in correct color
  frontend/src/app/shared/components/page-nav-bar/page-nav-bar.component.ts
Due: build-frontend

fix CHANGELOG.md
  docs/CHANGELOG.md
Due: none

docs: correct type of id in component schema
  docs/api/components.spec.yml
Due: none

fix CHANGELOG.md
  docs/CHANGELOG.md
  frontend/src/app/shared/interfaces/websocket-backend.interfaces.ts
  frontend/src/app/shared/services/websocket-backend/websocket-backend.service.ts
  frontend/src/app/shared/services/websocket/websocket.service.ts
Due: build-frontend

be: Ignore locks on workspaces, when they are older than 12 minuten.
  backend/src/middleware/IsWorkspaceBlocked.class.php
  docs/CHANGELOG.md
Due: build-db, build-backend

be: remove error log
  backend/src/middleware/IsWorkspaceBlocked.class.php
Due: build-db, build-backend

Update to version 15.2.0
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Revert "Update to version 15.2.0"
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Update to version 15.1.5
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

fe: add customtext for ok-button for locked units
  definitions/custom-texts.json
  frontend/src/app/test-controller/components/unithost/unithost.component.html
Due: build-db, build-backend, build-frontend

deployment: add TLS prompt back to install.sh
  dist-src/install.sh
Due: none

[BE] return booklets per session in same order as they are given in the testtaker.xml
  backend/src/dao/SessionDAO.class.php
Due: build-db, build-backend

Add "ValuePositionLabels" to the Unit.XSD according to the Verona specification
  definitions/vo_Unit.xsd
Due: build-db, build-backend

be: Make init-parameters available via env variables
  dist-src/.env
  docker/backend-entrypoint.sh
  docker/default.env
  docker/docker-compose.yml
  docs/CHANGELOG.md
Due: none

fe: extended unit menu I
  common/src/classes/test-mode-data.class.ts
  definitions/browsers.json
  definitions/mode-options.json
  definitions/test-mode.json
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/test-controller/test-controller.component.css
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.css
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.html
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/pipes/unit-accessible.pipe.ts
  frontend/src/app/test-controller/pipes/unit-inaccessible.pipe.ts
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  frontend/src/app/test-controller/test-controller.module.ts
  package-lock.json
  package.json
  scripts/make/app-control.mk
Due: build-db, build-backend, build-frontend, build-broadcasting-service

Add parameter `leave` to the `<TimeMax>`-restriction,
  definitions/vo_Booklet.xsd
  docs/CHANGELOG.md
  frontend/src/app/test-controller/classes/test-controller.classes.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-db, build-backend, build-frontend

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

Update CHANGELOG.md and docs
  definitions/browsers.json
  docs/CHANGELOG.md
  docs/pages/custom-texts.md
  package-lock.json
  package.json
Due: build-db, build-backend
