Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-db, build-backend, build-frontend, build-broadcasting-service, build-file-service

build-db:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-db
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-db

build-backend:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-backend
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-backend:dev

build-frontend:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-frontend
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-frontend:dev

build-broadcasting-service:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-broadcasting-service
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-broadcasting-service:dev

build-file-service:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-file-service
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-file-service

only show sys-check when login with sys-check mode exists
  backend/src/controller/SystemController.class.php
  backend/src/dao/SessionDAO.class.php
  definitions/vo_Testtakers.xsd
  sampledata/Testtakers.xml
Due: build-db, build-backend

db migrate
  backend/src/controller/SystemController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/SessionDAO.class.php
  frontend/src/app/app-root/login/login.component.html
  frontend/src/app/app-root/starter/starter.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
  scripts/database/patches.d/next.sql
Due: build-db, build-backend, build-frontend

show SysCheck Button in the starter menu
  backend/routes.php
  backend/src/controller/SessionController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/WorkspaceDAO.class.php
  frontend/src/app/app-root/starter/starter.component.html
  frontend/src/app/app-root/starter/starter.component.ts
  frontend/src/app/app-root/sys-check-starter/sys-check-starter.component.ts
  frontend/src/app/app.component.ts
  frontend/src/app/backend.service.ts
Due: build-db, build-backend, build-frontend

documentation for sys-check after login
  .idea/testcenter.iml
  definitions/vo_Testtakers.xsd
  docs/CHANGELOG.md
  docs/api/system.spec.yml
Due: build-db, build-backend

add new endpoint for requesting sysCheckMode
  backend/routes.php
  backend/src/controller/SessionController.class.php
  backend/src/controller/SystemController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/SessionDAO.class.php
  backend/src/dao/WorkspaceDAO.class.php
  docs/api/session.spec.yml
  docs/api/system.spec.yml
  frontend/src/app/app-root/starter/starter.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/backend.service.ts
  scripts/database/full.sql
Due: build-db, build-backend, build-frontend

clean up after failed initialization tests
  backend/test/initialization/functions/functions.sh
  backend/test/initialization/tests/12.0.2/fix_12_0_0.sh
  backend/test/initialization/tests/12.3.3/login_name_spelling.sh
  backend/test/initialization/tests/12.3.3/long_file_name.sh
  backend/test/initialization/tests/general/install-db-patches.sh
  backend/test/initialization/tests/general/re-initialize.sh
Due: build-db, build-backend

change label of syscheck password to make it more clearer which password is needed for sys check report
  definitions/custom-texts.json
  frontend/src/app/sys-check/report/save-report/save-report.component.html
Due: build-db, build-backend, build-frontend

adjust testing
  backend/test/initialization/tests/general/re-initialize.sh
  backend/test/unit/files/XMLFilesTesttakersTest.php
  backend/test/unit/testdata.sql
Due: build-db, build-backend

give syscheck in /session call as claim
  backend/src/controller/SessionController.class.php
  backend/src/dao/SessionDAO.class.php
  backend/src/data-collection/AccessSet.class.php
  backend/src/data-collection/SystemCheck.php
Due: build-db, build-backend

create own autofocus for login code field
  frontend/src/app/app-root/code-input/code-input.component.html
  frontend/src/app/shared/directives/autofocus.directive.ts
  frontend/src/app/shared/shared.module.ts
Due: build-frontend

make syscheck button in starter menu read the infos from /session call
  backend/src/data-collection/AccessObject.class.php
  backend/src/data-collection/AccessSet.class.php
  backend/src/data-collection/SystemCheck.php
  backend/src/data-collection/SystemCheckAccessObject.class.php
  frontend/src/app/app-root/starter/starter.component.html
  frontend/src/app/app.interfaces.ts
Due: build-db, build-backend, build-frontend

adjust unit tests to new order of response body
  backend/test/unit/controller/SessionControllerTest.php
Due: build-db, build-backend

delete session/sys-checks
  backend/routes.php
  backend/src/controller/SessionController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  docs/api/session.spec.yml
  frontend/src/app/app-root/starter/starter.component.html
  frontend/src/app/app-root/starter/starter.component.ts
  frontend/src/app/app.component.ts
  frontend/src/app/backend.service.ts
Due: build-db, build-backend, build-frontend

typo
  sampledata/Testtakers.xml
Due: none

add new mode documentation
  common/src/classes/test-mode-data.class.ts
  definitions/browsers.json
  definitions/test-mode.json
  docs/pages/custom-texts.md
  docs/pages/test-mode.md
  package-lock.json
  package.json
Due: build-db, build-backend, build-frontend, build-broadcasting-service

refactor AccessObjectType to be Enum
  backend/src/controller/SessionController.class.php
  backend/src/data-collection/AccessObject.class.php
  backend/src/data-collection/AccessObjectType.enum.php
  backend/src/data-collection/AccessSet.class.php
  backend/src/data-collection/SystemCheckAccessObject.class.php
  backend/test/unit/data-collection/AccessSetTest.php
Due: build-db, build-backend

Include release channels in package.json and Readme
  docs/index.md
  docs/versions.md
  package.json
Due: none

Fix readme
  docs/index.md
Due: none

Fix readme
  docs/pages/versions.md
Due: none

Attempt to include in readme
  docs/_includes
  docs/versions.md
Due: none

Attempt to include in readme II
  docs/_includes
  docs/_includes/versions.md
Due: none

Attempt to include in readme III
  docs/index.md
Due: none

Attempt to include in readme VI
  README.md
Due: none

Include release channels into Readme with shields.io
  README.md
  docs/index.md
Due: none

Add link to badges on README
  README.md
  docs/index.md
Due: none

Improve Changelog for upcoming version
  docs/CHANGELOG.md
Due: none

Define 15.2 as new stable channel
  package.json
Due: none

Update to version 15.2.0
  .idea/sqldialects.xml
  definitions/browsers.json
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package-lock.json
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/database/patches.d/15.2.0.sql
Due: build-db, build-backend

[BE] Update composer dependencies
  .idea/php.xml
  backend/composer.lock
Due: build-db, build-backend

[Setup] Resolve dockerfile warnings
  docker/backend.Dockerfile
  docker/broadcasting-service.Dockerfile
  docker/database.Dockerfile
  docker/e2e.Dockerfile
  docker/file-service.Dockerfile
  docker/frontend.Dockerfile
  docker/runner.Dockerfile
Due: none

[Setup] Add dockerfile install caches
  docker/backend.Dockerfile
  docker/broadcasting-service.Dockerfile
  docker/database.Dockerfile
  docker/e2e.Dockerfile
  docker/file-service.Dockerfile
  docker/frontend.Dockerfile
  docker/runner.Dockerfile
Due: none

[Setup] Resolve docker compose file warnings
  dist-src/docker-compose.prod.tls.yml
  dist-src/docker-compose.prod.yml
  docker/docker-compose.api-test.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.initialization-test.yml
  docker/docker-compose.local-prod.yml
  docker/docker-compose.system-test-headless.yml
  docker/docker-compose.yml
Due: none

Make it possible to set presets for Booklet-States in Testtakers.xml
  .idea/php-test-framework.xml
  backend/src/controller/SessionController.class.php
  backend/src/controller/TestController.class.php
  backend/src/dao/SessionDAO.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/AccessSet.class.php
  backend/src/data-collection/Login.class.php
  backend/src/data-collection/LoginSession.class.php
  backend/src/data-collection/TestData.class.php
  backend/src/data-collection/TestName.class.php
  backend/src/files/XMLFileTesttakers.class.php
  backend/test/unit/controller/SessionControllerTest.php
  backend/test/unit/dao/AdminDAOTest.php
  backend/test/unit/dao/SessionDAOTest.php
  backend/test/unit/dao/WorkspaceDAOTest.php
  backend/test/unit/data-collection/TestNameTest.php
  backend/test/unit/files/XMLFilesBookletTest.php
  backend/test/unit/files/XMLFilesTesttakersTest.php
  backend/test/unit/testdata.sql
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  scripts/database/full.sql
  scripts/database/patches.d/next.sql
Due: build-db, build-backend, build-frontend

[Setup] Revise backend dockerfile
  .idea/php-docker-settings.xml
  backend/composer.json
  backend/config/vhost.conf
  backend/test/initialization/tests/14.0.0/file_deletion.sh
  backend/test/initialization/tests/14.10.0/start_with_massive_data.sh
  backend/test/initialization/tests/14.4.0/clean_up_gently.sh
  dist-src/docker-compose.prod.tls.yml
  dist-src/docker-compose.prod.yml
  docker/backend-entrypoint.sh
  docker/backend.Dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.initialization-test.yml
  scripts/make/app-control.mk
  scripts/make/misc.mk
  scripts/make/test.mk
Due: build-db, build-backend

exclude fe assets, include be configs in idea project
  .idea/testcenter.iml
Due: none

[Setup] Move backend Dockerfile to backend service dir
  .gitlab-ci.yml
  backend/Dockerfile
  backend/entrypoint.sh
  docker/docker-compose.dev.yml
  docker/docker-compose.initialization-test.yml
  docker/docker-compose.local-prod.yml
Due: build-db, build-backend

[Setup] Move broadcasting-service Dockerfile to broadcasting-service dir
  .gitlab-ci.yml
  broadcasting-service/Dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.local-prod.yml
Due: build-broadcasting-service

[Setup] Revise broadcasting-service dockerfile
  docker/broadcasting-service.Dockerfile
  docker/docker-compose.dev.yml
  scripts/make/misc.mk
Due: none

[Setup] Revise database dockerfile
  .gitlab-ci.yml
  .idea/dataSources.xml
  backend/initialize.php
  dist-src/docker-compose.prod.tls.yml
  dist-src/docker-compose.prod.yml
  docker/database.Dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.initialization-test.yml
  docker/docker-compose.local-prod.yml
  docker/docker-compose.yml
  scripts/create-new-version.sh
  scripts/database/000-create-test-db.sh
  scripts/database/my.cnf
  scripts/gitlab-ci/tests.yml
  scripts/make/app-control.mk
Due: build-db, build-backend

[Setup] Move file-service Dockerfile to file-service dir
  .gitlab-ci.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.local-prod.yml
  file-service/Dockerfile
  file-service/auth/auth.lua
  file-service/auth/content.lua
  file-service/auth/files_cache.lua
  file-service/auth/redis_connector.lua
  file-service/nginx.conf
  file-service/no-cors.conf
Due: none

Path conditions:
  build-db: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  build-file-service: (any of: scripts/file-service/**/*) or (any of: e2e/**/*)
