Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-db, build-backend, build-frontend, build-broadcasting-service, build-file-service

Path conditions:
  build-db: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  build-file-service: (any of: scripts/file-service/**/*) or (any of: e2e/**/*)

only show sys-check when login with sys-check mode exists
  backend/src/controller/SystemController.class.php
  backend/src/dao/SessionDAO.class.php
  definitions/vo_Testtakers.xsd
  sampledata/Testtakers.xml
Due: build-db, build-backend

db migrate
  backend/src/controller/SystemController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/SessionDAO.class.php
  backend/src/dao/WorkspaceDAO.class.php
  frontend/src/app/app-root/login/login.component.html
  frontend/src/app/app-root/starter/starter.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
  scripts/database/patches.d/next.sql
Due: build-db, build-backend, build-frontend

Update npm modules
  package-lock.json
Due: none

[BE] Update composer dependencies
  backend/composer.lock
Due: build-db, build-backend

[Setup] Resolve dockerfile warnings
  docker/backend.Dockerfile
  docker/broadcasting-service.Dockerfile
  docker/database.Dockerfile
  docker/e2e.Dockerfile
  docker/file-service.Dockerfile
  docker/frontend.Dockerfile
  docker/runner.Dockerfile
Due: none

show SysCheck Button in the starter menu
  backend/routes.php
  backend/src/controller/SessionController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/WorkspaceDAO.class.php
  frontend/src/app/app-root/starter/starter.component.html
  frontend/src/app/app-root/starter/starter.component.ts
  frontend/src/app/app-root/sys-check-starter/sys-check-starter.component.ts
  frontend/src/app/app.component.ts
  frontend/src/app/backend.service.ts
Due: build-db, build-backend, build-frontend

documentation for sys-check after login
  definitions/vo_Testtakers.xsd
  docs/CHANGELOG.md
Due: build-db, build-backend

[Setup] Resolve docker compose file warnings
  dist-src/docker-compose.prod.tls.yml
  dist-src/docker-compose.prod.yml
  docker/docker-compose.api-test.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.initialization-test.yml
  docker/docker-compose.local-prod.yml
  docker/docker-compose.system-test-headless.yml
  docker/docker-compose.yml
Due: none

[Setup] Add dockerfile install caches
  docker/backend.Dockerfile
  docker/broadcasting-service.Dockerfile
  docker/database.Dockerfile
  docker/e2e.Dockerfile
  docker/file-service.Dockerfile
  docker/frontend.Dockerfile
  docker/runner.Dockerfile
Due: none

[Setup] Revise backend dockerfile
  backend/composer.json
  backend/config/vhost.conf
  backend/test/initialization/tests/14.0.0/file_deletion.sh
  backend/test/initialization/tests/14.10.0/start_with_massive_data.sh
  backend/test/initialization/tests/14.4.0/clean_up_gently.sh
  dist-src/docker-compose.prod.tls.yml
  dist-src/docker-compose.prod.yml
  docker/backend-entrypoint.sh
  docker/backend.Dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.initialization-test.yml
  scripts/make/misc.mk
  scripts/make/test.mk
Due: build-db, build-backend

[Setup] Revise database dockerfile
  docker/database.Dockerfile
  scripts/database/my.cnf
Due: build-db, build-backend

[Setup] Revise broadcasting-service dockerfile
  docker/broadcasting-service.Dockerfile
  docker/docker-compose.dev.yml
Due: none

[Setup] Revise 'make commands' in app control
  scripts/make/app-control.mk
Due: none

[Setup] Revise runner dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.initialization-test.yml
  docker/runner.Dockerfile
Due: none

[Setup] Revise e2e dockerfile
  docker/docker-compose.system-test-headless.yml
  docker/e2e.Dockerfile
Due: none

[Setup] Revise file service dockerfile
  docker/file-service.Dockerfile
Due: none

[Setup] Rename 'runner' dockerfile to 'task-runner'
  docker/docker-compose.dev.yml
  docker/docker-compose.initialization-test.yml
  docker/task-runner.Dockerfile
Due: none

[Setup] Revise frontend dockerfile
  docker/docker-compose.dev.yml
  docker/frontend.Dockerfile
Due: none

documentation
  docs/CHANGELOG.md
  docs/api/workspace.spec.yml
Due: none

fix small UI issues
  frontend/src/app/workspace-admin/files/files.component.html
Due: build-frontend

add mockServices to FE Unit tests
  frontend/src/app/sys-check/report/save-report/save-report.component.spec.ts
  frontend/src/app/test-controller/components/review-dialog/review-dialog.component.spec.ts
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/test-controller.service.spec.ts
Due: build-frontend

Include unbroken version of verona-player-simple-6.0.html
  sampledata/verona-player-simple-6.0.html
Due: none

Add API-test for new review format
  .idea/sqldialects.xml
  backend/src/dao/InitDAO.class.php
  docs/api/components.spec.yml
  docs/api/workspace.spec.yml
Due: build-db, build-backend

update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

add OS to User Agent output in review files
  frontend/src/app/shared/services/user-agent/user-agent.service.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: build-frontend

change types for category values for different report formats
  backend/src/workspace/Report.php
Due: build-db, build-backend

remove warning for unused testtakers and syscheks
  frontend/src/app/workspace-admin/files/files.component.html
Due: build-frontend

move calculation of file size after initial loading of all files
  backend/src/controller/WorkspaceController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/FileData.class.php
  frontend/src/app/workspace-admin/files/files.component.html
  frontend/src/app/workspace-admin/files/files.component.ts
Due: build-db, build-backend, build-frontend

Add technology for additional constraints in XML-formats
  .idea/php-test-framework.xml
  backend/src/files/ResourceFile.class.php
  backend/src/files/XMLFile.class.php
  backend/src/files/XMLFileBooklet.class.php
  backend/test/unit/files/XMLFileTest.php
  backend/test/unit/files/XMLFilesBookletTest.php
  backend/test/unit/helper/FolderTest.php
  backend/test/unit/workspace/WorkspaceCacheTest.php
  backend/test/unit/workspace/WorkspaceTest.php
  sampledata/Unit2.xml
Due: build-db, build-backend

Sort db patches
  scripts/database/patches.d/15.2.0-alpha.sql
  scripts/database/patches.d/next.sql
Due: build-db, build-backend

Remove confusing <DefaultOption>-tag from xsd.
  .idea/php-test-framework.xml
  backend/src/files/XMLFileBooklet.class.php
  backend/test/unit/files/XMLFilesBookletTest.php
  definitions/vo_Booklet.xsd
Due: build-db, build-backend

add getDependencies route to fetch dependencies after initial files load
  backend/routes.php
  backend/src/controller/WorkspaceController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  frontend/src/app/workspace-admin/backend.service.ts
  frontend/src/app/workspace-admin/files/files.component.ts
Due: build-db, build-backend, build-frontend

add spinner to file dashboard as long as dependencies are loading
  frontend/src/app/workspace-admin/files/files.component.html
  frontend/src/app/workspace-admin/files/files.component.ts
  frontend/src/app/workspace-admin/workspace.module.ts
Due: build-frontend

documentation for file dependencies
  docs/CHANGELOG.md
  docs/api/workspace.spec.yml
Due: none

fix saving pagelabel of a unit review properly
  frontend/src/app/test-controller/services/backend.service.ts
Due: build-frontend

Improve handling of bogus booklet files
  backend/src/files/XMLFileBooklet.class.php
  backend/test/unit/files/XMLFilesBookletTest.php
  definitions/vo_Booklet.xsd
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-db, build-backend, build-frontend

Make reviewers choose the booklet states manually
  common/src/classes/test-mode-data.class.ts
  definitions/mode-options.json
  definitions/test-mode.json
  frontend/src/app/shared/services/booklet-parser.service.ts
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.css
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.html
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/test-controller.module.ts
  package-lock.json
Due: build-db, build-backend, build-frontend, build-broadcasting-service

trim review category string to clean up empty category column in review csv output
  backend/src/workspace/Report.php
  frontend/src/app/test-controller/components/review-dialog/review-dialog.component.ts
Due: build-db, build-backend, build-frontend

Fix position of unitmenu
  .idea/php-test-framework.xml
  frontend/src/app/test-controller/components/test-controller/test-controller.component.css
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
Due: build-frontend

Display BookletStates in GroupMonitor
  definitions/custom-texts.json
  frontend/src/app/group-monitor/booklet/booklet.service.ts
  frontend/src/app/group-monitor/group-monitor.component.html
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/group-monitor.module.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/app/group-monitor/test-session/bookletstates.pipe.ts
  frontend/src/app/group-monitor/test-session/position.pipe.ts
  frontend/src/app/group-monitor/test-session/test-session.component.css
  frontend/src/app/group-monitor/test-session/test-session.component.html
  frontend/src/app/group-monitor/test-session/test-session.util.ts
  frontend/src/app/group-monitor/test-session/testletvisible.pipe.ts
  frontend/src/app/shared/directives/template-context.directive.ts
  frontend/src/app/shared/services/booklet-parser.service.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-db, build-backend, build-frontend
