Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-db, build-backend, build-frontend, build-broadcasting-service, build-file-service

build-db:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-db
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-db

build-backend:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-backend
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-backend:dev

build-frontend:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-frontend
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-frontend:dev

build-broadcasting-service:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-broadcasting-service
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-broadcasting-service:dev

build-file-service:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-file-service
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-file-service

fe: fix unit tests
  frontend/src/app/test-controller/unit-test-data/test-data.ts
Due: build-frontend

Update to version 15.1.6
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Integrate Study Monitor Feature
  backend/routes.php
  backend/src/controller/SessionController.class.php
  backend/src/dao/SessionDAO.class.php
  backend/src/data-collection/AccessSet.class.php
  docs/CHANGELOG.md
  frontend/src/app/app-root/starter/starter.component.html
  frontend/src/app/app-root/starter/starter.component.ts
  frontend/src/app/app-route-guards.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.interfaces.ts
  frontend/src/app/study-monitor/components/study-monitor/study-monitor.component.css
  frontend/src/app/study-monitor/components/study-monitor/study-monitor.component.html
  frontend/src/app/study-monitor/components/study-monitor/study-monitor.component.ts
  frontend/src/app/study-monitor/index.ts
  frontend/src/app/study-monitor/interfaces/study-monitor.interfaces.ts
  frontend/src/app/study-monitor/routing/study-monitor-routing.module.ts
  frontend/src/app/study-monitor/services/backend.service.ts
  frontend/src/app/study-monitor/study-monitor.module.ts
Due: build-db, build-backend, build-frontend

Backend Unit, API and E2E tests for study monitor
  backend/src/middleware/IsGroupMonitor.class.php
  backend/test/unit/controller/SessionControllerTest.php
  backend/test/unit/data-collection/AccessSetTest.php
  docs/api/components.spec.yml
  docs/api/workspace.spec.yml
  e2e/cypress/e2e/study-monitor.cy.ts
  e2e/cypress/e2e/utils.ts
  frontend/src/app/app-root/starter/starter.component.html
  frontend/src/app/study-monitor/components/study-monitor/study-monitor.component.html
  sampledata/system-test/CY_Test_Logins.xml
Due: build-db, build-backend, build-frontend, build-broadcasting-service, build-file-service

check if the hash of all files in /data folder is different than the workspace_hash column of workspace in the database, and only then execute storeAllFiles()
  backend/initialize.php
  backend/src/dao/InitDAO.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/workspace/Workspace.class.php
  backend/test/initialization/tests/general/re-initialize.sh
  scripts/database/patches.d/next.sql
Due: build-db, build-backend

introduce new initialize test for file_hash condition
  backend/test/initialization/tests/general/re-initialize.sh
Due: build-db, build-backend

be: Don't touch present files on upload pt II
  .idea/dataSources.xml
  backend/index.php
  backend/initialize.php
  backend/src/controller/WorkspaceController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/FileData.class.php
  backend/src/data-collection/FileRelation.class.php
  backend/src/files/File.class.php
  backend/src/files/ResourceFile.class.php
  backend/src/files/XMLFile.class.php
  backend/src/files/XMLFileBooklet.class.php
  backend/src/files/XMLFileSysCheck.class.php
  backend/src/files/XMLFileTesttakers.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/middleware/IsWorkspaceBlocked.class.php
  backend/src/workspace/Workspace.class.php
  backend/test/unit/files/XMLFilesTesttakersTest.php
Due: build-db, build-backend

Update version of IQB-responses
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

Update to version 15.2.0-alpha2
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

add CHANGELOG.md
  docs/CHANGELOG.md
Due: none

remove fake patches after test run from file system
  backend/src/dao/InitDAO.class.php
  backend/test/initialization/functions/functions.sh
  backend/test/initialization/tests/general/install-db-patches.sh
  backend/test/initialization/tests/general/re-initialize.sh
Due: build-db, build-backend

escape all html tags in error message body
  backend/src/middleware/ErrorHandler.class.php
  docs/CHANGELOG.md
Due: build-db, build-backend

return workspaceId and UserId in response body for PUT requests
  backend/src/controller/UserController.class.php
  backend/src/controller/WorkspaceController.class.php
Due: build-db, build-backend

update changelog and documentation
  docs/CHANGELOG.md
  docs/api/user.spec.yml
  docs/api/workspace.spec.yml
Due: none

Correctly determine files which are related by changed files
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/workspace/Workspace.class.php
  backend/src/workspace/WorkspaceCache.class.php
Due: build-db, build-backend

unit tests
  backend/src/data-collection/FileData.class.php
  backend/src/files/XMLFile.class.php
  backend/src/files/XMLFileTesttakers.class.php
  backend/src/files/XMLFileUnit.class.php
  backend/src/workspace/WorkspaceCache.class.php
  backend/test/unit/workspace/WorkspaceCacheTest.php
Due: build-db, build-backend

fe: fix detection of hidden testlets
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

fe: allow debug also in prod
  frontend/src/app/test-controller/services/command.service.ts
Due: build-frontend

[review] return workspaceId instead of ws_name
  backend/src/controller/WorkspaceController.class.php
  docs/api/workspace.spec.yml
Due: build-db, build-backend

Update to version 15.2.0-alpha3
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

be: unit tests ii
  backend/test/unit/workspace/WorkspaceCacheTest.php
Due: build-db, build-backend

be: Add usesScheme to FileRelationshipType
  backend/src/data-collection/FileRelationshipType.class.php
Due: build-db, build-backend

be: Remove refresh of db-mirror of relating files on upload
  backend/src/workspace/Workspace.class.php
  backend/src/workspace/WorkspaceCache.class.php
  backend/test/unit/workspace/WorkspaceCacheTest.php
Due: build-db, build-backend

automatic update of list view every 10 seconds
  frontend/src/app/study-monitor/components/study-monitor/study-monitor.component.ts
Due: build-frontend

refactor the function call to take additional accessitems
  backend/src/controller/SessionController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/AccessSet.class.php
  frontend/src/app/study-monitor/index.ts
Due: build-db, build-backend, build-frontend

update unit test
  backend/test/unit/controller/SessionControllerTest.php
  backend/test/unit/data-collection/AccessSetTest.php
Due: build-db, build-backend

CHANGELOG.md
  docs/CHANGELOG.md
Due: none

Update @iqb-responses version and fix integration to keep only track about teh relevant variables
  .idea/vcs.xml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

On Booklet-reload: Code variables *after* the coding scheme is available
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

Include @iqb/responses 2.1.5
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

Evaluate Conditions for the first time *after* the codingScheme is loaded, when reloading the booklet.
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  frontend/src/app/test-controller/util/iqb-variable.util.ts
Due: build-frontend

Fix navigation: Skip locked blocks correctly
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

Update to version 15.2.0-alpha4
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Make the script work from another branch but master
  scripts/create-new-version.sh
Due: none

set sleep to slow down brute force attacks
  backend/src/controller/SessionController.class.php
  docs/CHANGELOG.md
Due: build-db, build-backend

replace SQL error on ws file deletion
  backend/src/dao/WorkspaceDAO.class.php
  docs/CHANGELOG.md
Due: build-db, build-backend

update editorconfig for PHP to be closer to PSR-12
  .editorconfig
  docs/CHANGELOG.md
Due: none

Add possibility to test conditions in debug-pane.
  .idea/codeStyles/Project.xml
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

Add possibility to test conditions in debug-pane.
  .idea/codeStyles/Project.xml
  frontend/src/app/shared/pipes/trust.pipe.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

Fix classic restrictions like code and time
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

Path conditions:
  build-db: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  build-file-service: (any of: scripts/file-service/**/*) or (any of: e2e/**/*)
