Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-db, build-backend, build-frontend, build-broadcasting-service, build-file-service

Path conditions:
  build-db: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  build-file-service: (any of: scripts/file-service/**/*) or (any of: e2e/**/*)

be: Use unique-constraint to ensure uniqueness of logins instead of xs:ID.
  .idea/php.xml
  backend/src/files/XMLFileTesttakers.class.php
  backend/test/unit/files/XMLFilesTesttakersTest.php
  backend/test/unit/workspace/WorkspaceCacheTest.php
  definitions/vo_Testtakers.xsd
  docs/CHANGELOG.md
Due: build-db, build-backend

be: log if not in testmode
  backend/src/dao/SessionDAO.class.php
Due: build-db, build-backend

e2e: logout before new login
  e2e/cypress/e2e/Test-Controller/RunHotReturn.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, build-file-service

be: Add timeouts and logging to unit tests
  backend/composer.json
  backend/phpunit.xml
  docker/backend.Dockerfile
  scripts/make/test.mk
Due: build-db, build-backend

fe: Don't cancel timer if navigated by command to the very same block
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: build-frontend

add e2e
  scripts/gitlab-ci/tests.yml
Due: none

skip
  .gitlab-ci.yml
Due: none

docs: Fix mistakes in API-docs
  docs/api/user.spec.yml
Due: none

update changelog
  docs/CHANGELOG.md
Due: none

fe: Include new browserversions
  definitions/browsers.json
  docs/pages/booklet-config.md
  package-lock.json
  package.json
Due: build-db, build-backend

depend
  docker/docker-compose.system-test-headless.yml
Due: none

[env] Re-enable e2e tests
  docker/docker-compose.system-test-headless.yml
  scripts/gitlab-ci/tests.yml
Due: none

allow failure of e2e-tests
  scripts/gitlab-ci/tests.yml
Due: none

fe: Add meaningful visualization of conditional blocks in group monitor
  .idea/testcenter.iml
  frontend/src/app/group-monitor/booklet/booklet.service.ts
  frontend/src/app/group-monitor/group-monitor.component.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/app/group-monitor/test-session/test-session.component.html
  frontend/src/app/group-monitor/test-session/test-session.util.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

[fe] Fix page navigation panel in syscheck and refactor page nav
  frontend/src/app/shared/components/page-nav-bar/page-nav-bar.component.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/sys-check/unit-check/unit-check.component.css
  frontend/src/app/sys-check/unit-check/unit-check.component.html
  frontend/src/app/sys-check/unit-check/unit-check.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.css
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/styles.css
Due: build-frontend

[fe] Login: Show caps-lock warning for password field
  docs/CHANGELOG.md
  frontend/src/app/app-root/login/login.component.html
  frontend/src/app/app-root/login/login.component.ts
Due: build-frontend

Add Changelog entry for repaired page nav
  docs/CHANGELOG.md
Due: none

Add new mode `run-simulation`:
  .idea/dataSources.xml
  backend/src/helper/Mode.class.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/dao/WorkspaceDAOTest.php
  backend/test/unit/files/XMLFilesTesttakersTest.php
  common/src/classes/test-mode-data.class.ts
  definitions/test-mode.json
  definitions/vo_Testtakers.xsd
  docs/CHANGELOG.md
  docs/pages/test-mode.md
  package-lock.json
  sampledata/Testtakers.xml
Due: build-db, build-backend, build-frontend, build-broadcasting-service

Change cap-lock-warning-msg to german
  frontend/src/app/app-root/login/login.component.ts
Due: build-frontend

[fe] Refactor check for supported browser
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-root/login/login.component.ts
  frontend/src/app/shared/services/user-agent/user-agent.service.spec.ts
  frontend/src/app/shared/services/user-agent/user-agent.service.ts
  frontend/src/app/shared/shared.module.ts
Due: build-frontend

[env] Add TLS_ENABLED switch back to prod setup
  dist-src/.env
  dist-src/Makefile
  dist-src/docker-compose.prod.tls.yml
  dist-src/docker-compose.prod.yml
  dist-src/install.sh
  docker/default.env
Due: none

Add custom text for legal notice
  definitions/custom-texts.json
  docs/pages/custom-texts.md
  frontend/src/app/shared/classes/app.config.ts
Due: build-db, build-backend, build-frontend

[fe] Improve styling of legal notice page
  frontend/src/app/app-root/legal-notice/legal-notice.component.html
  frontend/src/app/app-root/legal-notice/legal-notice.component.ts
Due: build-frontend

[fe] Remove status panel from legal notice page
  frontend/src/app/app-root/legal-notice/legal-notice.component.html
Due: build-frontend

[be] Fix admin login to not show parts of the password on failed attempt
  backend/src/dao/AdminDAO.class.php
  docs/CHANGELOG.md
Due: build-db, build-backend

[env] Improve HTTP security headers - no-referrer
  docker/docker-compose.yml
Due: none

[be] Update init-tetst
  backend/test/initialization/tests/14.0.0/file_deletion.sh
  backend/test/initialization/tests/general/install-db-patches.sh
  backend/test/initialization/tests/general/re-initialize.sh
Due: build-db, build-backend

Add automatic redirect from www.domain to domain to avoid CORS and likewise issues between frontend and file-, and respectively bs-service.
  backend/src/helper/SystemConfig.class.php
  dist-src/docker-compose.prod.yml
  docs/CHANGELOG.md
Due: build-db, build-backend

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

fe: Prevent screen lock while testing
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: build-frontend

Add Edge to supported browsers
  definitions/browsers.json
  definitions/custom-texts.json
  frontend/package.json
  frontend/src/app/shared/services/user-agent/user-agent.service.ts
  package-lock.json
Due: build-db, build-backend, build-frontend

small changes
  e2e/cypress/e2e/Session-Management/testtakers-content.cy.ts
  e2e/cypress/e2e/Test-Controller/RunHotReturn.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, build-file-service

be: attempt to fix unit test
  backend/src/dao/AdminDAO.class.php
Due: build-db, build-backend

[env] Add TLS_ENABLED switch back to prod setup
  dist-src/.env
  dist-src/Makefile
  dist-src/docker-compose.prod.tls.yml
  dist-src/docker-compose.prod.yml
  dist-src/install.sh
  dist-src/patches/next.sh
  docker/docker-compose.yml
Due: none

fe: enable tracing & add route for status
  frontend/src/app/app-routing.module.ts
  frontend/src/app/test-controller/routing/test-controller-routing.module.ts
Due: build-frontend

fix path in update script
  dist-src/update.sh
Due: none

Update to version 15.0.1-rc1
  dist-src/.env
  dist-src/install.sh
  dist-src/patches/15.1.0.sh
  docs/CHANGELOG.md
  docs/pages/custom-texts.md
  docs/pages/software-compontents.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

fe: Check testId before navigating
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

fe: revert tracing and routing rule
  frontend/src/app/app-routing.module.ts
  frontend/src/app/test-controller/routing/test-controller-routing.module.ts
Due: build-frontend
