Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-db, build-backend, build-frontend, build-broadcasting-service, build-file-service

build-db:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-db
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-db

build-backend:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-backend
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-backend:dev

build-frontend:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-frontend
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-frontend:dev

build-broadcasting-service:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-broadcasting-service
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-broadcasting-service:dev

build-file-service:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-file-service
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-file-service

Update to version 15.2.0-alpha
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Update to version 15.2.0-alpha5
  dist-src/.env
  dist-src/install.sh
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Fix update script
  scripts/create-new-version.sh
Due: none

Update to version 15.2.0-alpha6
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Use tar instead of rsync to create a backup
  dist-src/update.sh
Due: none

Remove double or insecure ciphers
  dist-src/tls-config.yml
Due: none

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

Use off statt no as value for .env-parameter in installer.
  dist-src/install.sh
Due: none

remove unnecessary comments
  backend/src/dao/WorkspaceDAO.class.php
Due: build-db, build-backend

introduce unitfolder argument to test.mk
  scripts/make/test.mk
Due: none

rename feature flag
  backend/src/controller/WorkspaceController.class.php
  frontend/src/app/workspace-admin/backend.service.ts
  frontend/src/app/workspace-admin/results/results.component.ts
  frontend/src/app/workspace-admin/workspacedata.service.ts
Due: build-db, build-backend, build-frontend

introduce page and pageLabel in the frontend
  frontend/src/app/test-controller/components/review-dialog/review-dialog.component.html
  frontend/src/app/test-controller/components/review-dialog/review-dialog.component.spec.ts
  frontend/src/app/test-controller/components/review-dialog/review-dialog.component.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  scripts/database/patches.d/next.sql
Due: build-db, build-backend, build-frontend

save user agent info in reviews
  backend/src/controller/TestController.class.php
  backend/src/dao/InitDAO.class.php
  backend/src/dao/TestDAO.class.php
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/services/backend.service.ts
  scripts/database/patches.d/next.sql
Due: build-db, build-backend, build-frontend

add tests with feature flag enabled and disabled
  backend/test/unit/workspace/ReportTest.php
Due: build-db, build-backend

update unit tests
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/workspace/ReportTest.php
Due: build-db, build-backend

Refactor [PUT] putUnitReview to accept page and pageLabel
  backend/src/controller/TestController.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/helper/RequestBodyParser.class.php
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/services/backend.service.ts
  scripts/database/patches.d/next.sql
Due: build-db, build-backend, build-frontend

refactor reportformat and reporttype as enum
  backend/src/controller/WorkspaceController.class.php
  backend/src/data-collection/ReportFormat.php
  backend/src/data-collection/ReportType.php
  backend/src/workspace/Report.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/data-collection/ReportFormatTest.php
  backend/test/unit/data-collection/ReportTypeTest.php
  backend/test/unit/workspace/ReportTest.php
Due: build-db, build-backend

add feature flag button add condition to test if feature flag exists
  backend/src/controller/WorkspaceController.class.php
  frontend/src/app/workspace-admin/backend.service.ts
  frontend/src/app/workspace-admin/results/results.component.html
  frontend/src/app/workspace-admin/results/results.component.ts
  frontend/src/app/workspace-admin/workspacedata.service.ts
Due: build-db, build-backend, build-frontend

fix sysreports (check on parameter name)
  backend/src/data-collection/ReportType.php
Due: build-db, build-backend

reformat code
  backend/src/controller/WorkspaceController.class.php
  backend/src/workspace/Report.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/workspace/ReportTest.php
Due: build-db, build-backend

show deprecation warnings in phpUnit
  backend/phpunit.xml
Due: build-db, build-backend

add feature flag functionality in Report Class
  backend/src/controller/WorkspaceController.class.php
  backend/src/workspace/Report.php
Due: build-db, build-backend

add alias column to unit_review table & add originalUnitId in frontend requests
  backend/src/controller/TestController.class.php
  backend/src/dao/TestDAO.class.php
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/services/backend.service.ts
  scripts/database/patches.d/next.sql
Due: build-db, build-backend, build-frontend

refactor bodyParser
  backend/src/controller/MonitorController.class.php
  backend/src/controller/SessionController.class.php
  backend/src/controller/TestController.class.php
  backend/src/dao/InitDAO.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/helper/RequestBodyParser.class.php
Due: build-db, build-backend

fix logs (check on of report is given)
  backend/src/controller/WorkspaceController.class.php
Due: build-db, build-backend

add integration test for non existing reports
  backend/src/helper/TestEnvironment.class.php
  e2e/cypress/e2e/Test-Controller/Review.cy.ts
Due: build-db, build-backend, build-frontend, build-broadcasting-service, build-file-service

fix unit tests to accomodate new report enum
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/testdata.sql
Due: build-db, build-backend

code reformat
  backend/src/controller/MonitorController.class.php
  backend/src/controller/SessionController.class.php
  backend/src/controller/WorkspaceController.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/helper/RequestBodyParser.class.php
  backend/src/helper/TestEnvironment.class.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  e2e/cypress/e2e/Test-Controller/Review.cy.ts
  frontend/src/app/test-controller/services/backend.service.ts
Due: build-db, build-backend, build-frontend, build-broadcasting-service, build-file-service

Fix navigation when time is up, to navigate to the next unit after the now locked block, not before
  docs/CHANGELOG.md
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: build-frontend

Update to version 15.2.0-alpha7
  dist-src/.env
  dist-src/install.sh
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Add some comments in config file
  frontend/config/nginx.conf
Due: build-frontend

Clean up .env-Files
  dist-src/.env
  docker/default.env
Due: none

Update to version 15.1.7
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Path conditions:
  build-db: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  build-file-service: (any of: scripts/file-service/**/*) or (any of: e2e/**/*)
