Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-db, build-backend, build-frontend, build-broadcasting-service, build-file-service

build-db:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-db
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-db

build-backend:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-backend
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-backend:dev

build-frontend:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-frontend
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-frontend:dev

build-broadcasting-service:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-broadcasting-service
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-broadcasting-service:dev

build-file-service:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-file-service
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-file-service

fe: Fix test controller malfunctioning after initial error
  docs/CHANGELOG.md
  frontend/src/app/shared/services/maindata/maindata.service.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/routing/test-controller-routing.module.ts
Due: build-frontend

be: remove debug info to repair unit test
  backend/src/dao/SessionDAO.class.php
Due: build-db, build-backend

Remove unused and uneditable customtext-token
  definitions/custom-texts.json
  docs/pages/custom-texts.md
  frontend/src/app/shared/classes/app.config.ts
Due: build-db, build-backend, build-frontend

[fe] Remove status panel from legal notice page
  frontend/src/app/app-root/legal-notice/legal-notice.component.html
Due: build-frontend

Update to version 15.1.0-rc2
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

fe: set default view in group-monitor to medium again
  frontend/src/app/group-monitor/group-monitor.component.ts
Due: build-frontend

fe: Handle recursively stacked code-locked testlets correctly
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

trivy
  .gitlab-ci.yml
Due: none

fe: update packe-lock
  frontend/package-lock.json
Due: build-frontend

[ci] Update CI script with docker login and trivy timeout
  .gitlab-ci.yml
Due: none

Update to version 15.1.0-rc3
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Fix type in install-script
  dist-src/install.sh
Due: none

Fix Prod:
  dist-src/docker-compose.prod.tls.yml
  dist-src/docker-compose.prod.yml
  docker/frontend.Dockerfile
  docs/CHANGELOG.md
Due: none

Update to version 15.1.0-rc4
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

env: run backend as root again
  docker/backend.Dockerfile
Due: none

Update to version 15.1.0-rc5
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

env: repair update.sh
  dist-src/patches/14.11.0.sh
  dist-src/patches/15.1.0.sh
  dist-src/update.sh
Due: none

env: fix prod make file
  dist-src/Makefile
Due: none

env: fix patch to change / add env variables
  dist-src/patches/15.1.0.sh
Due: none

env: fix patches to change / add env variables
  dist-src/patches/15.0.0.sh
  dist-src/patches/15.1.0.sh
Due: none

Update to version 15.1.0-rc6
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

env: include new services into new-version-script
  scripts/create-new-version.sh
Due: none

env: fix makefile again
  dist-src/Makefile
Due: none

Update to version 15.1.0-rc7
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Update to version 15.1.0-rc8
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/create-new-version.sh
Due: none

env: fix patch
  dist-src/patches/15.1.0.sh
Due: none

Update to version 15.1.0-rc9
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Update to version 15.1.0
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Make it run on other than the standart port again!
  .idea/testcenter.iml
  backend/src/helper/SystemConfig.class.php
  docs/CHANGELOG.md
Due: build-db, build-backend

Update to version 15.1.1
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Update to version 15.1.2
  common/src/classes/test-mode-data.class.ts
  definitions/browsers.json
  definitions/test-mode.json
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  docs/pages/test-mode.md
  frontend/src/app/shared/objects/customtexts.ts
  package-lock.json
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: build-db, build-backend, build-frontend, build-broadcasting-service

env: fix patch
  .idea/testcenter.iml
  docker/backend-entrypoint.sh
  docs/CHANGELOG.md
Due: none

Update to version 15.1.3
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Fix IDA project files
  .idea/modules.xml
  .idea/webResources.xml
  testcenter.iml
Due: none

fe: Enable navigation to conditioned blocks from group-monitor
  frontend/src/app/group-monitor/booklet/booklet.util.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/group-monitor.module.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/app/group-monitor/test-session/descendants.pipe.ts
  frontend/src/app/group-monitor/test-session/test-session.component.html
  frontend/src/app/group-monitor/test-session/test-session.util.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

fix typo in CHANGELOG.md
  docs/CHANGELOG.md
Due: none

fe: Fix caps-lock check
  docs/CHANGELOG.md
  frontend/src/app/app-root/login/login.component.ts
Due: build-frontend

fe: show global customtext without reload
  frontend/src/app/shared/services/maindata/maindata.service.ts
Due: build-frontend

fe: Fix navigation when there are no inro- or outro-units.
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

Path conditions:
  build-db: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  build-file-service: (any of: scripts/file-service/**/*) or (any of: e2e/**/*)
