Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-db, build-backend, build-frontend, build-broadcasting-service, build-file-service

build-db:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-db
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-db

build-backend:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-backend
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-backend:dev

build-frontend:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-frontend
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-frontend:dev

build-broadcasting-service:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-broadcasting-service
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-broadcasting-service:dev

build-file-service:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-file-service
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-file-service

Trigger UnitInaccessiblePipe at the right moment
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.html
  frontend/src/app/test-controller/components/unit-nav-bar/unit-nav-bar.component.html
  frontend/src/app/test-controller/pipes/unit-inaccessible.pipe.ts
Due: build-frontend

Repair unitScreenheader (headline in TestController-Mode)
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.html
Due: build-frontend

Some refactorings in TestController:
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

Don't send vopPlayerConfigChangedNotification before unit is loaded
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
Due: build-frontend

Use Booklet-parameter to config buffer times.
  common/src/classes/booklet-config-data.class.ts
  definitions/booklet-config.json
  definitions/browsers.json
  docs/pages/booklet-config.md
  docs/pages/test-mode.md
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  package-lock.json
Due: build-db, build-backend, build-frontend, build-broadcasting-service

Remove unneeded property
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

Remove duplicate getUnit function
  definitions/browsers.json
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.spec.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/command.service.ts
  frontend/src/app/test-controller/services/test-controller.service.spec.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/test/test-data.ts
  frontend/tsconfig.json
Due: build-db, build-backend, build-frontend

Remove solved TODOs
  frontend/src/app/shared/interfaces/booklet.interfaces.ts
  frontend/src/app/shared/services/booklet-parser.service.ts
Due: build-frontend

Make sure data buffers from different tests can not meddle
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/util/test-state.util.ts
Due: build-frontend

Outsource condition evaluating to separate tool, improve details (reacting to null values), and add tests.
  .idea/vcs.xml
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/services/test-controller.service.spec.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/util/condition.util.spec.ts
  frontend/src/app/test-controller/util/condition.util.ts
  frontend/src/app/test-controller/util/iqb-variable.util.ts
  frontend/src/app/test-controller/util/test-data.util.spec.ts
Due: build-frontend

switch calculating filesize from BE to FE
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/files/File.class.php
  backend/src/files/XMLFileBooklet.class.php
  backend/src/files/XMLFileUnit.class.php
  frontend/src/app/workspace-admin/files/files.component.ts
  frontend/src/app/workspace-admin/workspace.interfaces.ts
Due: build-db, build-backend, build-frontend

refactor: renaming variables
  backend/src/controller/WorkspaceController.class.php
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/files/File.class.php
  backend/src/helper/Folder.class.php
  backend/src/workspace/UploadedFilesHandler.class.php
  backend/src/workspace/Workspace.class.php
  backend/src/workspace/WorkspaceCache.class.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/workspace/WorkspaceCacheTest.php
  backend/test/unit/workspace/WorkspaceTest.php
Due: build-db, build-backend

Only files that are consuming the uploaded files are loaded into the cache
  backend/src/dao/WorkspaceDAO.class.php
  backend/src/data-collection/FileType.enum.php
  backend/src/workspace/Workspace.class.php
  backend/src/workspace/WorkspaceCache.class.php
  backend/test/unit/workspace/WorkspaceTest.php
Due: build-db, build-backend

switch middleware order to minimize DB calls for token auth
  backend/routes.php
Due: build-db, build-backend

split e2e workspace tests into smaller tests in one folder
  e2e/cypress/e2e/Workspace-Admin/files.cy.ts
  e2e/cypress/e2e/Workspace-Admin/results.cy.ts
  e2e/cypress/e2e/Workspace-Admin/system-check.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, build-file-service

add new target argument to make command for unit tests
  scripts/make/test.mk
Due: none

automatically apply autoload changes to the backend after autoload-refresh
  backend/src/workspace/Workspace.class.php
  scripts/make/misc.mk
Due: build-db, build-backend

Add <Booklet-States> to XSDs
  definitions/vo_Booklet.xsd
  definitions/vo_Testtakers.xsd
Due: build-db, build-backend

Implement new way of defining conditions
  definitions/vo_Booklet.xsd
  e2e/package-lock.json
  frontend/src/app/group-monitor/booklet/booklet.service.ts
  frontend/src/app/group-monitor/booklet/booklet.util.ts
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/test-session-manager/test-session-manager.service.ts
  frontend/src/app/group-monitor/test-session/position.pipe.ts
  frontend/src/app/group-monitor/test-session/test-session.component.html
  frontend/src/app/group-monitor/test-session/test-session.util.ts
  frontend/src/app/shared/interfaces/booklet.interfaces.ts
  frontend/src/app/shared/services/booklet-parser.service.ts
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.css
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.html
  frontend/src/app/test-controller/components/unit-nav-bar/unit-nav-bar.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-db, build-backend, build-frontend, build-broadcasting-service, build-file-service

Accept the booklet parameters which set up the buffer times correctly
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

files show on click, which other files depend on them
  frontend/src/app/workspace-admin/files/files.component.css
  frontend/src/app/workspace-admin/files/files.component.html
  frontend/src/app/workspace-admin/files/files.component.ts
Due: build-frontend

reduce memory usage in output
  backend/src/controller/WorkspaceController.class.php
  backend/src/data-collection/FileType.enum.php
  backend/src/workspace/Workspace.class.php
  backend/src/workspace/WorkspaceCache.class.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/workspace/WorkspaceTest.php
Due: build-db, build-backend

add mixed type as argument to cli print-functions
  backend/src/helper/CLI.class.php
Due: build-db, build-backend

validate filetype by checking the error report of dependencies - now in all filetypes
  backend/src/data-collection/FileType.enum.php
  backend/src/files/File.class.php
  backend/src/files/XMLFileBooklet.class.php
  backend/src/files/XMLFileTesttakers.class.php
  backend/src/workspace/Workspace.class.php
  backend/src/workspace/WorkspaceCache.class.php
  backend/test/unit/mock-classes/ZIPMock.php
  backend/test/unit/workspace/WorkspaceTest.php
Due: build-db, build-backend

add e2e tests for uploading files as workspace admin
  e2e/cypress/e2e/Workspace-Admin/files.cy.ts
  e2e/cypress/fixtures/AnyResource.txt
  e2e/cypress/fixtures/Booklet_error.xml
  e2e/cypress/fixtures/SysCheck_error.xml
  e2e/cypress/fixtures/Testtakers_error.xml
  e2e/cypress/fixtures/Unit_error.xml
Due: build-backend, build-frontend, build-broadcasting-service, build-file-service

change detection of unused file relations from be to fe
  backend/src/controller/WorkspaceController.class.php
  backend/src/data-collection/FileData.class.php
  frontend/src/app/workspace-admin/files/files.component.html
  frontend/src/app/workspace-admin/files/files.component.ts
Due: build-db, build-backend, build-frontend

edit button label "neue Kommentare"
  frontend/src/app/workspace-admin/results/results.component.html
Due: build-frontend

add page, pagelabel and userAgent to Report Output
  backend/src/controller/TestController.class.php
  backend/src/dao/AdminDAO.class.php
  backend/src/dao/TestDAO.class.php
  backend/src/workspace/Report.php
  backend/test/unit/dao/AdminDAOTest.php
  backend/test/unit/testdata.sql
  scripts/database/full.sql
  scripts/database/patches.d/next.sql
  scripts/make/test.mk
Due: build-db, build-backend

include userAgentService instead of handrolling userAgentDetection for PostReview API call
  frontend/src/app/shared/services/user-agent/user-agent.service.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: build-frontend

refactor detection of extended kb to own service
  frontend/src/app/shared/services/kb-detection/kb-detection.service.ts
  frontend/src/app/shared/services/maindata/maindata.service.ts
  frontend/src/app/test-controller/components/review-dialog/review-dialog.component.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: build-frontend

CHANGELOG.md
  docs/CHANGELOG.md
Due: none

refactor originalUnitId to be part of units instead of units_review
  backend/src/controller/TestController.class.php
  backend/src/dao/TestDAO.class.php
  scripts/database/patches.d/next.sql
Due: build-db, build-backend

add originalUnitId to log & responses output
  backend/src/dao/AdminDAO.class.php
  backend/src/workspace/Report.php
  scripts/database/full.sql
Due: build-db, build-backend

add originalUnitId as new possible format to PUT addUnitLog()
  backend/src/controller/TestController.class.php
  backend/src/dao/TestDAO.class.php
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-db, build-backend, build-frontend

add originalUnitId as new possible format to PATCH updateUnitState()
  backend/src/controller/TestController.class.php
  backend/src/helper/RequestBodyParser.class.php
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-db, build-backend, build-frontend

add originalUnitId as new request body argument for PUT updateDataParts()
  backend/src/controller/TestController.class.php
  backend/src/dao/TestDAO.class.php
  docs/api/test.spec.yml
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-db, build-backend, build-frontend

Update to version 15.1.9
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
  scripts/create-new-version.sh
Due: none

fix small UI issues
  frontend/src/app/workspace-admin/files/files.component.html
Due: build-frontend

change bodyparser to old behavior as new changes broke tests
  backend/src/controller/TestController.class.php
  backend/src/helper/RequestBodyParser.class.php
  backend/test/unit/dao/AdminDAOTest.php
  backend/test/unit/testdata.sql
  backend/test/unit/workspace/ReportTest.php
  docs/api/workspace.spec.yml
  e2e/cypress/e2e/Test-Controller/Review.cy.ts
  frontend/src/app/workspace-admin/results/results.component.html
Due: build-db, build-backend, build-frontend, build-broadcasting-service, build-file-service

set dialog instead of snackbar for better visibility
  frontend/src/app/sys-check/report/report.component.ts
Due: build-frontend

Path conditions:
  build-db: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  build-file-service: (any of: scripts/file-service/**/*) or (any of: e2e/**/*)
