Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-db, build-backend, build-frontend, build-broadcasting-service, build-file-service

build-db:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-db
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-db

build-backend:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-backend
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-backend:dev

build-frontend:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-frontend
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-frontend:dev

build-broadcasting-service:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-broadcasting-service
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-broadcasting-service:dev

build-file-service:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-file-service
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-file-service

Add testcode for run-hot-return mode It's a pre-version, the testcode runs not stable. Sometimes there is an invalid token error.
  backend/src/workspace/WorkspaceInitializer.class.php
  e2e/cypress/e2e/Test-Controller/RunHotReturn.cy.ts
  e2e/cypress/e2e/utils.ts
  sampledata/system-test/CY_BKL_Mode_RunHotReturn.xml
  sampledata/system-test/CY_Test_Logins.xml
Due: build-db, build-backend, build-frontend, build-broadcasting-service, build-file-service

[setup] Move tasks with dependencies to separate Compose file
  docker/docker-compose.api-test.yml
  scripts/make/test.mk
Due: none

[Frontend] Major refactoring of Test-Controller to avoid duplicate structures III - time restriction
  frontend/src/app/shared/services/booklet-parser.service.ts
  frontend/src/app/test-controller/classes/test-controller.classes.ts
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.spec.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

[setup] Login to DockerHub before building images
  .gitlab-ci.yml
  scripts/gitlab-ci/tests.yml
Due: none

some modifications
  e2e/cypress/e2e/Test-Controller/RunHotReturn.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, build-file-service

xxx
  e2e/cypress/e2e/Test-Controller/RunHotReturn.cy.ts
Due: build-backend, build-frontend, build-broadcasting-service, build-file-service

[Frontend] Major refactoring of Test-Controller to avoid duplicate structures IV - code restriction
  frontend/src/app/app.module.ts
  frontend/src/app/shared/interfaces/booklet.interfaces.ts
  frontend/src/app/shared/services/booklet-parser.service.ts
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/test-status/test-status.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/routing/test-controller-deactivate.guard.ts
  frontend/src/app/test-controller/routing/test-controller-error-paused-activate.guard.ts
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/command.service.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.spec.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

[fe] Repaired settings page
  docs/CHANGELOG.md
  frontend/src/app/superadmin/settings/app-config.component.ts
Due: build-frontend

Update to version 15.0.1
  dist-src/.env
  dist-src/install.sh
  docs/CHANGELOG.md
  package.json
  sampledata/Booklet.xml
  sampledata/Booklet2.xml
  sampledata/Booklet3.xml
  sampledata/SysCheck.xml
  sampledata/Testtakers.xml
  sampledata/Unit.xml
  sampledata/Unit2.xml
Due: none

Update booklet config documentation
  docs/pages/booklet-config.md
Due: none

[fe] testcontroller refac V - custom texts
  frontend/src/app/shared/services/booklet-parser.service.ts
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
Due: build-frontend

[fe] Refactor Testcontroller V: customtexts & unitAlias
  frontend/src/app/test-controller/components/review-dialog/review-dialog.component.html
  frontend/src/app/test-controller/components/review-dialog/review-dialog.component.spec.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/backend.service.ts
  frontend/src/app/test-controller/services/test-controller.service.spec.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

[fe] Refactor Testcontroller VI: small stuff
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

fe: refac tc VII
  frontend/src/app/shared/interfaces/booklet.interfaces.ts
  frontend/src/app/shared/services/booklet-parser.service.ts
Due: build-frontend

[fe] Refactor Testcontroller VII: Read Restrictions
  frontend/src/app/shared/interfaces/booklet.interfaces.ts
  frontend/src/app/shared/services/booklet-parser.service.ts
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
Due: build-frontend

[fe] Refactor Testcontroller VIII: Cleansing
  frontend/src/app/test-controller/classes/missing-booklet-error.class.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

[fe] Adaptivity: Track all variables which occur in conditions.
  frontend/src/app/shared/interfaces/booklet.interfaces.ts
  frontend/src/app/shared/services/booklet-parser.service.ts
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/interfaces/iqb.interfaces.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

[fe] Adaptivity: Basic implementation
  frontend/src/app/shared/interfaces/booklet.interfaces.ts
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/interfaces/iqb.interfaces.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  frontend/src/app/test-controller/util/aggregators.util.ts
  frontend/src/app/test-controller/util/iqb-variable.util.ts
Due: build-frontend

[fe] Adaptivity: some fixes and improved dubuggability
  frontend/src/app/shared/pipes/block-condition.pipe.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  frontend/src/app/unit/block-condition.until.ts
Due: build-frontend

[fe] Adaptivity: always evaluate all testlets conditions because they could be connected to any variable
  frontend/src/app/app.module.ts
  frontend/src/app/shared/pipes/block-condition.pipe.ts
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  frontend/src/app/unit/block-condition.util.ts
Due: build-frontend

[fe] Hide blocks which are locked by condition in menu
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

[fe] Adaptivity: Let testlets inherit locks from their parent.
  frontend/src/app/shared/services/booklet-parser.service.ts
  frontend/src/app/test-controller/classes/test-controller.classes.ts
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

[fe] Adaptivity: Improve syntax of locks to be more flexible because other types of locks will follow
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

[fe] Adaptivity: Correctly enable or navigation-buttons if the frist or last block(s) are inaccessible.
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/tsconfig.json
Due: build-frontend

[fe] Fix code-input form
  frontend/src/app/test-controller/components/unithost/unithost.component.html
Due: build-frontend

[fe] Evaluate conditions in non-saving modes too
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

[fe] Improve performance by checking the incoming chunks for tracked variables before running expensive JSON.parse.
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

fe: Add tsconfig back to working lib and set exception for typscript-compiler
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/tsconfig.json
  package-lock.json
Due: build-frontend

[fe] Change TSconfig back to working lib and
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

FE: Testcontroller: Get rid of redundant array unitDefinitionTypes.
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

FE: Testcontroller: Get rid of redundant array unitDefinitionTypes.
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

fe: Check correct major version of incoming unitStateDataType (aka response Type)
  backend/src/controller/SystemController.class.php
  backend/src/helper/SystemConfig.class.php
  frontend/src/app/shared/classes/app.config.ts
  frontend/src/app/shared/interfaces/app-config.interfaces.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  package.json
Due: build-db, build-backend, build-frontend

fe: Remove console.log etc.
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

fe: Testcontroller: Simplify by moving separate arrays of stuff unit to unit array
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

fe: Testcontroller: Simplify by moving unit state from separate arrays to unit object
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/interfaces/verona.interfaces.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

fe: Enable strictTemplates pt I
  frontend/src/app/attachment-manager/components/attachment-overview/attachment-overview.component.html
  frontend/src/app/attachment-manager/components/capture-image/capture-image.component.html
  frontend/src/app/group-monitor/group-monitor.component.html
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/test-session/test-session.component.html
  frontend/src/app/group-monitor/test-session/test-session.component.ts
  frontend/src/app/shared/pipes/customtext/customtext.pipe.ts
  frontend/src/app/shared/pipes/templateContext.directive.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/tsconfig.json
Due: build-frontend

fe: Enable strictTemplates pt II
  frontend/src/app/group-monitor/group-monitor.interfaces.ts
  frontend/src/app/group-monitor/group-monitor.module.ts
  frontend/src/app/group-monitor/test-session/is-code-clear.pipe.ts
  frontend/src/app/group-monitor/test-session/test-session.component.html
  frontend/src/app/group-monitor/test-session/test-session.component.ts
  frontend/src/app/group-monitor/test-session/test-session.util.ts
  frontend/src/app/group-monitor/test-session/timeleft.pipe.ts
  frontend/src/app/shared/components/alert/alert.component.ts
  frontend/src/app/shared/components/error/error.component.html
  frontend/src/app/shared/components/error/error.component.ts
  frontend/src/app/shared/directives/template-context.directive.ts
  frontend/src/app/shared/interfaces/alert.interfaces.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/app/sys-check/report/save-report/save-report.component.html
  frontend/src/app/sys-check/welcome/welcome.component.html
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/test-status/test-status.component.html
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.html
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/pipes/progress-bar-mode.pipe.ts
  frontend/src/app/test-controller/test-controller.module.ts
  frontend/src/app/workspace-admin/files/files.component.html
  frontend/src/app/workspace-admin/files/files.component.ts
  frontend/src/app/workspace-admin/files/iqb-files-upload/iqb-files-upload.component.html
  frontend/src/app/workspace-admin/files/iqb-files-upload/iqb-files-upload.component.ts
  frontend/src/app/workspace-admin/results/results.component.ts
Due: build-frontend

fe: Fix navigation if all units are locked somehow
  frontend/src/app/app.module.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

fe: Fix loss of testmodeId and Label
  frontend/src/app/shared/classes/test-mode.class.ts
Due: build-frontend

Path conditions:
  build-db: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  build-file-service: (any of: scripts/file-service/**/*) or (any of: e2e/**/*)
