Repository iqb-berlin/testcenter: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-db, build-backend, build-frontend, build-broadcasting-service, build-file-service

build-db:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-db
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-db

build-backend:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-backend
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-backend:dev

build-frontend:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-frontend
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-frontend:dev

build-broadcasting-service:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-broadcasting-service
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-broadcasting-service:dev

build-file-service:
  stage: build
  script:
  - apk add make
  - make init
  - make build service=testcenter-file-service
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker push iqbberlin/testcenter-file-service

fe: Improve debug-pane
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
Due: build-frontend

fe: Fix timer management:
  frontend/src/app/shared/services/booklet-parser.service.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

fe: Linting
  frontend/src/app/shared/services/booklet-parser.service.ts
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

fe: Simplify structure of the test-controller-service even more by removing more parallel structures.
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.spec.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

fe: Simplify structure of the test-controller-service even more by removing EVEN MORE more parallel structures.
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

fe: Make the first unit of a code-locked block accessible, bc somewhere you have to enter the code.
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

fe: keep blocklabel in testlet instead of unit
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

fe: Get rid of error in the beginning
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

fe: Fix timer management when gloabl timer is set
  frontend/src/app/test-controller/routing/unit-activate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

fe: Refactor unit host to not store duplicate information
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

backend: Update php to 8.3.2
  backend/composer.json
  backend/composer.lock
  docker/backend.Dockerfile
Due: build-db, build-backend

fe: Refactor and simplify unitHost
  frontend/src/app/app.interfaces.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

fe: Don't complain if booklet has no <customTexts>-tag
  frontend/src/app/shared/services/booklet-parser.service.ts
Due: build-frontend

Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

fe: Fix restoration of code-locks after reload
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

fe: Restore preset code
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
Due: build-frontend

fe: Repair timer and update menu at the right moments
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

fe: Linting
  frontend/src/app/test-controller/classes/test-controller.classes.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-frontend

fe: Add Mean as BlockConditionSourceAggregation
  definitions/vo_Booklet.xsd
  frontend/src/app/shared/interfaces/booklet.interfaces.ts
Due: build-db, build-backend, build-frontend

Update run-trial testtaker mode
  common/src/classes/test-mode-data.class.ts
  definitions/test-mode.json
  docs/CHANGELOG.md
Due: build-db, build-backend, build-frontend, build-broadcasting-service

Add "Forward-Only"-mode
  definitions/browsers.json
  definitions/custom-texts.json
  definitions/vo_Booklet.xsd
  frontend/src/app/shared/interfaces/booklet.interfaces.ts
  frontend/src/app/shared/services/booklet-parser.service.ts
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  package-lock.json
  package.json
Due: build-db, build-backend, build-frontend

fe: update packages
  frontend/package-lock.json
Due: build-frontend

fe: Add FORWARD_ONLY as more for "unit_navibuttons"
  common/src/classes/booklet-config-data.class.ts
  definitions/booklet-config.json
  docs/pages/booklet-config.md
  docs/pages/custom-texts.md
  frontend/src/app/app-root/login/login.component.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
Due: build-db, build-backend, build-frontend, build-broadcasting-service

fe: Add booklet-parameter evaluate_testlet_conditions
  common/src/classes/booklet-config-data.class.ts
  definitions/booklet-config.json
  docs/pages/booklet-config.md
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/routing/unit-deactivate.guard.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
Due: build-db, build-backend, build-frontend, build-broadcasting-service

fe: Improve debug-pane
  frontend/src/app/shared/services/customtext/customtext.service.ts
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.css
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.html
  frontend/src/app/test-controller/components/debug-pane/debug-pane.component.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  frontend/src/app/test-controller/test-controller.module.ts
Due: build-frontend

fe: Fix behaviour of nested timers
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

fe: Restart timer correctly if in sub-testlet of timed testlet
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
Due: build-frontend

fe: Evaluate conditions on test-start
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

Load coding scheme into frontend if available
  backend/src/data-collection/FileRelationshipType.class.php
  backend/src/files/XMLFileUnit.class.php
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  scripts/database/patches.d/next.sql
Due: build-db, build-backend, build-frontend

fe: Include the iqb schemer and code all tracked variables.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/test-controller/interfaces/iqb.interfaces.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
  frontend/src/app/test-controller/util/iqb-variable.util.ts
Due: build-frontend

fe: Correctly track loading progress of coding-schemes and create CodingScheme object not on every evaluation but on loading.
  frontend/src/app/test-controller/components/unithost/unithost.component.html
  frontend/src/app/test-controller/components/unithost/unithost.component.ts
  frontend/src/app/test-controller/interfaces/test-controller.interfaces.ts
  frontend/src/app/test-controller/services/test-controller.service.ts
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

fe: Hide DebugPane by default
  frontend/src/app/test-controller/components/test-controller/test-controller.component.html
Due: build-frontend

fe:Add optional cancelbutton label for confirmDialog
  frontend/src/app/shared/components/confirm-dialog/confirm-dialog.component.html
  frontend/src/app/shared/components/confirm-dialog/confirm-dialog.component.ts
  frontend/src/app/shared/interfaces/confirm-dialog.interfaces.ts
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
Due: build-frontend

fe: Fix margins in unit menu
  frontend/src/app/test-controller/components/test-controller/test-controller.component.ts
  frontend/src/app/test-controller/components/unit-menu/unit-menu.component.html
Due: build-frontend

fe: Update tracked variables *after* loading the coding-scheme when reloading the test.
  frontend/src/app/test-controller/services/test-loader.service.ts
Due: build-frontend

Include new sample material:
  backend/src/files/XMLFileUnit.class.php
  backend/src/workspace/WorkspaceInitializer.class.php
  backend/test/unit/controller/WorkspaceControllerTest.php
  backend/test/unit/helper/FolderTest.php
  backend/test/unit/workspace/WorkspaceCacheTest.php
  backend/test/unit/workspace/WorkspaceTest.php
  docs/api/workspace.spec.yml
  package.json
  sampledata/Booklet2.xml
  sampledata/SAMPLE_UNITCONTENTS.HTM
  sampledata/Unit.xml
  sampledata/Unit2.xml
  sampledata/coding-scheme.vocs.json
  sampledata/verona-player-simple-5.1.html
  scripts/database/full.sql
Due: build-db, build-backend

hot-restart beta version
  backend/src/workspace/WorkspaceInitializer.class.php
  e2e/cypress/e2e/Test-Controller/RunHotRestart.cy.ts
  sampledata/system-test/CY_BKL_Mode_RunHotRestart.xml
  sampledata/system-test/CY_Test_Logins.xml
Due: build-db, build-backend, build-frontend, build-broadcasting-service, build-file-service

some small general changes
  e2e/cypress/e2e/utils.ts
Due: build-backend, build-frontend, build-broadcasting-service, build-file-service

be: make run-trial mode monitorable
  backend/src/helper/Mode.class.php
Due: build-db, build-backend

fe: fix mistake that was done in merge
  frontend/src/app/test-controller/components/unithost/unithost.component.html
Due: build-frontend

Path conditions:
  build-db: any of: backend/**/*, scripts/database/**/*, definitions/**/*
  build-backend: (any of: backend/**/*, scripts/database/**/*, definitions/**/*) or (any of: e2e/**/*)
  build-frontend: (any of: frontend/**/*, common/**/*) or (any of: e2e/**/*)
  build-broadcasting-service: (any of: broadcasting-service/**/*, common/**/*) or (any of: e2e/**/*)
  build-file-service: (any of: scripts/file-service/**/*) or (any of: e2e/**/*)
